$icon-font-path: "../bootstrap/fonts/";
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

$gray-base: #2D2D2D;
$brand-primary: #536F9D;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

html {
  letter-spacing: .028em;
  text-indent: .028em;
}
