table.dataTable .align-middle {
  vertical-align: middle;
}

table.dataTable tr.mute {
  color: #A5A5A5;
  background: #FCFCFC;
}

table.dataTable tr.selected,
table.dataTable tr.mute.selected {
  color: #606060;
  background: #F5F5F5;
}

#cms table.dataTable.dt-checkboxes-select tbody tr {
  cursor: default;
}

table.dataTable thead .dt-checkboxes-select-all [type=checkbox],
table.dataTable.dt-checkboxes-select tbody tr .dt-checkboxes {
  cursor: pointer;
}

// 下部の隙間削除
#entries_wrapper label {
  margin-bottom: 0;
}

// 下部の隙間削除
#entries_wrapper .dataTables_paginate ul.pagination.pagination-sm {
  margin: 0 0 -5px 0;
}

#entries_wrapper .dataTables_paginate,
#entries_wrapper .dataTables_length,
#entries_wrapper .table-filters,
#entries_wrapper .table-search,
#entries_wrapper .tucle-table-action {
  margin-top: 10px;
}

.table-actions .btn-actions {
  white-space: normal;
}

#entries_wrapper .table-controls {
  font-weight: normal;
}

#entries_wrapper .table-search {
  text-align: right;
}

#entries_wrapper .table-filters {
  text-align: right;
}

#entries_wrapper .table-filters .filter-none {
  cursor: pointer;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

#entries .label {
  vertical-align: middle;
}