table.dataTable .align-middle {
  vertical-align: middle;
}

table.dataTable tr.mute {
  color: #A5A5A5;
  background: #FCFCFC;
}

table.dataTable tr.selected,
table.dataTable tr.mute.selected {
  color: #606060;
  background: #F5F5F5;
}

#cms table.dataTable.dt-checkboxes-select tbody tr {
  cursor: default;
}

table.dataTable thead .dt-checkboxes-select-all [type=checkbox],
table.dataTable.dt-checkboxes-select tbody tr .dt-checkboxes {
  cursor: pointer;
}

.table-actions .btn-actions {
  margin-top: 8px;
  float: left;
  white-space: normal;
}

.table-actions .table-filters {
  margin-top: 8px;
  float: right;
}

.table-actions .table-filters .filter-none {
  cursor: pointer;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

#entries .label {
  vertical-align: middle;
}