$icon-font-path: "../bootstrap/fonts/";

$gray-base: #2D2D2D;
$brand-primary: #536F9D;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$state-warning-text: #f0ad4e;
$state-danger-text: #d9534f;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, Verdana, Meiryo, sans-serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
