@import "mixins/placeholder";

textarea.form-control,
input.form-control {
  @include placeholder {
    color: #CCC;
    font-style: italic;
    letter-spacing: .028em;
    text-indent: .028em;
  };
}

.form-group .radio, .form-group .checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group .file-preview,
.form-group .file-preview:hover {
  display: table-cell;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
}

.form-group .file-preview-frame {
  margin: 0 0 8px 0;
}

.form-group .btn-navigate {
  display: none;
}

.form-group .label-require {
  position: absolute;
  top: 3px;
  right: 15px;
  background-color: #d9534f;
  border-radius: .25em;
  padding: .4em .6em .3em;
}

.form-group.group {
  margin-bottom: 0;
}

.form-group.group > .row {
  margin-bottom: -15px;
}

.form-group.group > label {
  border-left: #50555b solid 4px;
  display: block;
  margin-bottom: 8px;
  font-size: 1.25em;
  padding: 0 0 0 4px;
}

h1.form-title {
  margin: 0 0 20px 0;
}

hr.form-separator {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(153,153,153,0), rgba(153,153,153,0.75), rgba(153,153,153,0));
  background-image:    -moz-linear-gradient(left, rgba(153,153,153,0), rgba(153,153,153,0.75), rgba(153,153,153,0));
  background-image:     -ms-linear-gradient(left, rgba(153,153,153,0), rgba(153,153,153,0.75), rgba(153,153,153,0));
  background-image:      -o-linear-gradient(left, rgba(153,153,153,0), rgba(153,153,153,0.75), rgba(153,153,153,0));
  background-image:      linear-gradient(to left, rgba(153,153,153,0), rgba(153,153,153,0.75), rgba(153,153,153,0));
}

.btn-actions {
  white-space: nowrap;
  > .btn {
    float: none;
    display: inline-block;
  }
}

.btn-clear-input {
   position: absolute;
   font-size: 120%;
   z-index: 1;
   cursor: pointer;
   color: #ccc;
}

.btn-clear-input:hover {
  color: #999;
}