
label.required:before {
  font-family: FontAwesome;
  color: #999;
  margin-right: 4px;
  content: '\f023'; // circle-o
}

.form-group .radio, .form-group .checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group .file-preview,
.form-group .file-preview:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
}

.form-group .file-preview-frame {
  margin: 0 0 8px 0;
}

.form-group .file-input {
  display: table-cell;
}

.form-group .group > label {
  border-left: #50555b solid 4px;
  display: block;
  margin-bottom: 8px;
  font-size: 1.25em;
  padding: 0 0 0 4px;
}