.form-separator {
  display: block;
  line-height: 48px;
  text-align: center;
  font-size: 9px;
  color: #999;
  clear: both;
  letter-spacing: 4em;
}

.form-separator:before {
  font-family: FontAwesome;
  content: '\f10c\f10c\f10c'; // circle-o
}

